<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TcddBiletExist.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TcddBiletExist.AppSettings>
            <setting name="ClientMailAddress" serializeAs="String">
                <value>oug505@gmail.com</value>
            </setting>
            <setting name="ClientMailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="BasicAuth" serializeAs="String">
                <value>ZGl0cmF2b3llYnNwOmRpdHJhMzQhdm8u</value>
            </setting>
            <setting name="AuthUsername" serializeAs="String">
                <value>ditravoyebsp</value>
            </setting>
            <setting name="AuthPassword" serializeAs="String">
                <value>ditra34!vo.</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://api-yebsp.tcddtasimacilik.gov.tr/</value>
            </setting>
        </TcddBiletExist.AppSettings>
    </applicationSettings>
</configuration>